//*************************//
//     MIXINS
//     Define Mixins
//
//*************************//

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@mixin opacity($opacity) {
  opacity: $opacity;
  // IE8 filter
  $opacity-ie: ($opacity * 100);
  filter: #{alpha(opacity=$opacity-ie)};
}

@mixin pseudo($size: 10px) {
  content: "";
  display: block;
  height: $size;
  position: absolute;
  width: $size;
}


@mixin breakpoint($point) {
  @if $point == xtra-small {
    @media (max-width: $screen-xtra-small) {
      @content;
    }
  }
  @else if $point == medium {
    @media (min-width: $screen-xtra-small) and ($screen-small) {
      @content;
    }
  }
  @else if $point == large {
    @media (min-width: $screen-large) {
      @content;
    }
  }
}